# SideScreen: let the logged-in user talk to Android devices over USB without root:
# switching the tablet into accessory mode, then streaming to it.
# Install: sudo cp 70-sidescreen.rules /etc/udev/rules.d/ && sudo udevadm control --reload
# then unplug and replug the tablet.
SUBSYSTEM=="usb", ATTR{idVendor}=="18d1", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="2717", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="04e8", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="22b8", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="2a70", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="12d1", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="0bb4", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="1004", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="0fce", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="19d2", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="2a45", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="05c6", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="0e8d", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="1bbb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="17ef", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="0b05", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="22d9", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="2d95", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="2ae5", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="29a9", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="1949", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="2916", TAG+="uaccess"
